{% extends 'base.html.twig' %}
{% block body %}
    <h1 xmlns="http://www.w3.org/1999/html">Register as a student</h1>

    <div class="col-md-4">
    {{ form(registerForm) }}
    </div>

{% endblock %}
